.forecast {
  text-align: center;
  color: rgb(247, 242, 195);
  font-size: 14px;
  margin: 0, auto;
  /* border: none;
  box-shadow: 0px 5px 5px 0px rgb(247, 242, 195);
  border-radius: 20px; */
}

/* .forecast:hover {
  cursor: pointer;
  transform: translateY(-5px);
  box-shadow: 0px 5px 8px 2px rgb(247, 242, 195);
  transition: all 200ms ease-in-out;
} */

.forecast-day {
  font-size: 16px;
  font-weight: bold;
}

.forecast-temp-max {
  font-size: 14px;
  font-weight: bold;
  color: #93e4c1;
}

.forecast-temp-min {
  font-size: 14px;
  color: #2a2929;
}
