body {
  text-align: center;
  font-family: "Lora", serif;
  background-color: #000000;
}

#light {
  color: #fff;
}

#dark {
  color: #fff;
}

/* #light {
  background: #4bffd5;
}

#dark {
  background: #118a7e;
} */
