body .Weather {
  background: #fff5d1;
  border-radius: 10px;
  margin: 0 auto;
  padding: 5px;
  max-width: fit-content;
}

a:visited {
  color: #0d0d34;
}

ul {
  list-style-type: none;
}

.btn-dark {
  background: #91606f !important;
  color: #0d0d34 !important;
  border: none !important;
  margin: 0 auto;
  padding: 5px;
}

.btn-dark:hover {
  cursor: pointer;
}

.search-bar {
  margin: 0 auto;
}

.city {
  font-size: 40px;
  font-weight: bold;
  color: #91606f;
}

.details {
  color: #b08a00;
}

.forecast {
  font-size: 20px;
  text-align: center;
}

.footer {
  margin-top: -20px;
  text-align: center;
  font-size: 16px;
  color: #000;
}

.form-control {
  border: none !important;
  box-shadow: none !important;
  justify-content: center;
}

.forecast-day {
  color: #000000;
}

.temp {
  color: #91606f;
  text-align: center;
  font-size: 50px;
  font-weight: bold;
}

.time {
  color: #0d0d34;
}

.units {
  font-size: 18px;
  color: #0d0d34;
  font-weight: 100;
}

.units:hover {
  cursor: pointer;
}

.weather-info-center {
  text-align: center;
}
