body .Weather {
  background: #d2a0fe;
  border-radius: 10px;
  margin: 0 auto;
  padding: 5px;
  max-width: 60%;
}

a:visited {
  color: #6a3392;
}

ul {
  list-style-type: none;
}

.btn-dark {
  background: #000000 !important;
  color: #ff4ed0 !important;
  border: none !important;
  margin: 0 auto;
  padding: 5px;
}

.btn-dark:hover {
  cursor: pointer;
}

.search-bar {
  margin: 0 auto;
}

.city {
  font-size: 40px;
  font-weight: bold;
  color: #000000;
}

.details {
  color: #9ef2f8;
}

.forecast {
  font-size: 20px;
  text-align: center;
  max-width: 70%;
}

.footer {
  margin-top: -20px;
  text-align: center;
  font-size: 16px;
  color: #000;
}

.form-control {
  border: none !important;
  box-shadow: none !important;
  justify-content: center;
}

.forecast-day {
  color: #000000;
}

.temp {
  color: #ff4ed0;
  text-align: center;
  font-size: 50px;
  font-weight: bold;
}

.time {
  color: #9ef2f8;
}

.units {
  font-size: 18px;
  color: #6a3392;
  font-weight: 100;
}

.units:hover {
  cursor: pointer;
}

.weather-info-center {
  text-align: center;
}
